@import url("https://fonts.googleapis.com/css?family=Raleway");
@font-face {
  font-family: astro;
  src: url(../Fonts/astro/astro.ttf);
}

:root {
  --div-background-color: black;
  --text-black: black;
  --text-white: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 100px;
  color: #dfd6d5;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
}

.brand-title {
  width: 200px;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links li a:hover {
  color: aqua;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Background Styles Only */
* {
  font-family: Raleway;
}

html {
  background-color: #dfdfdf;
}

button {
  padding: 9px 25px;
  background-color: white;
  color: var(--text-black);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: aqua;
}

/*IMAGE SLIDE BEGINS-----------------------------------------------------------*/
.slider {
  width: 100%;
  height: 1200px;
  background-color: #0e0d0d;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 300px;
}

.slides input {
  display: none;
  border-radius: 50px;
}

.slide {
  width: 20%;
  -webkit-transition: 1s;
  transition: 1s;
}

.slide img {
  margin-top: 50px;
  border-radius: 50px 50px;
  border-color: aqua;
  border-width: 5px;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  top: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 2px solid aqua;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: aqua;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.profile__container {
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0d0d), color-stop(black), color-stop(black), color-stop(black), color-stop(black), to(black));
  background: linear-gradient(#0e0d0d, black, black, black, black, black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 1000px;
  height: 100px;
}

.profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  max-width: 500px;
  position: relative;
}

.profile__text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

.profile__title {
  color: aliceblue;
  font-size: 45px;
  font-weight: 800;
}

.profile__Text {
  color: #f3f0d7;
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
}
.experience__Link {
  text-decoration: underline;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.experience__Link:hover {
  color: aqua;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (max-width: 1260px) {
  .profile-photo {
    width: 300px;
  }
  .experience__Link {
    margin: 0 auto;
  }
}

/* empieza el FOOTER */
.bottom {
  height: 400px;
  background-color: black;
  width: 100%;
}

.inner_bottom {
  color: white;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  margin: auto;
}

.bottom img {
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
  position: static;
}

.bottom_icons {
  padding-top: 50px;
}

.fcbicon {
  color: white;
}

.bottom_icons i:hover {
  color: aqua;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding: 100px 150px;
}

.image__gallery img {
  width: 100%;
}

.image__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  grid-auto-flow: row;
  gap: 1em;
  grid-row: span 2;
  grid-column: span 2;
}
/*# sourceMappingURL=styles.css.map */